<div class="comment js-comment" <%= (el)-> el.data('comment', this) %> >
    <div class="comment_info">
        <span class="comment_info_author"><i class="icon-user"></i> <%= this.name %></span>
        <span class="comment_info_date"><%= this.date %></span>
        <span class="comment_info_date _right"><a class="del-comment js-del-comment" href="javascript://" data-delCommentId="<%= this.id %>">удалить</a></span>
    </div>
    <div class="comment_text">
        <%= this.comment %>
    </div>
</div>