<article class="mediaBox">
    <h1 class="stripe-title">
        <%= lessonInfo.name %>
    </h1>
    <div class="lesson-info">
        <div class="-row">
            <div class="-unit">
                <i class="icon-time" title="продолжительность лекции"></i> <%= lessonInfo.time %>
            </div>
            <div class="-unit">
                <i class="icon-user" title="имя лектора"></i> <%= lessonInfo.teacher %>
            </div>
            <div class="-unit">
                <i class="icon-folder-open" title="имя лектора"></i> <%= lessonInfo.category %>
            </div>
            <div class="-unit">
                <i class="icon-tags" title="ключевые слова"></i> <%= lessonInfo.tags %>
            </div>
        </div>
    </div>
    <div class="lesson-video">
        <iframe width="658" height="250" frameborder="0" src="<%= lessonInfo.videoLink %>" class="player"></iframe>
    </div>
    <div class="lesson-download">
        <strong class="lesson-download_title">Скачать материалы лекции:</strong>
        <div class="-ui-group _spacer-l">
            <a class="-ui-group_item -btn" href="<%= lessonInfo.pressLink %>" target="_blank">презентация</a>
            <span class="-ui-group_item -mark">.pdf</span>
        </div>
        <div class="-ui-group _spacer-l">
            <a class="-ui-group_item -btn" href="<%= lessonInfo.downloadLink %>" target="_blank">видео файл</a>
            <span class="-ui-group_item -mark">430 Мб</span>
        </div>
    </div>
    <section class="form-comment _spacer-t">
        <h2 class="title _spacer">Комментировать лекцию</h2>
        <form action="" method="post" data-validate="formNova">
            <input id="lessonId" type="hidden" name="lessonId" value="<%= lessonInfo.id %>" />
            <div class="-form-line">
                <label class="-label -form-left" for="name">Имя</label>
                <div class="-form-right">
                    <input class="-input-text" id="name" type="text" name="name" data-validRules="required" />
                </div>
            </div>
            <div class="-form-line">
                <label class="-label -form-left" for="comment">Сообщение</label>
                <div class="-form-right">
                    <textarea class="-textarea -width-100" name="comment" id="comment" data-validRules="required|minLength[40]"></textarea>
                </div>
            </div>
            <div class="-form-line -form-action">
                <div class="-form-right">
                    <button type="submit" class="-button">Комментировать</button>
                </div>
            </div>

        </form>
    </section>
    <section class="comments">
        <h2 class="title _spacer">Комментарии</h2>
        <div class="js-comments_inner">
            <% if(comments.length) { %>
                 <% list(comments, function(comment) { %>
                     <%== can.view.render(commentViewUrl, comment); %>
                 <% }); %>
            <% } else { %>
                <p class="js-no-comment-note">Комментариев нет</p>
            <% }%>
        </div>
    </section>
</article>